

body{
	background-image: url("../images/fondo.jpg");

}

h1{
	color:#fff;
	border-top:2px solid #FFF;
	border-bottom:2px solid #FFF;
	padding-bottom:20px;
	text-align:center;
}

p{
	color:#fff;
	font-size:2em;
}

p span{font-size:2em;
}
.container{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}
.articulo-principal p{
	color: #000;
}